<!DOCTYPE html>
<html lang="en">
<head>
    <title>TrackPulse Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='icons/logos/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='icons/logos/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='icons/logos/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='icons/logos/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='icons/logos/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='icons/logos/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='icons/logos/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='icons/logos/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/logos/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='icons/logos/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/logos/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='icons/logos/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/logos/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/logos/manifest.json') }}">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='icons/logos/ms-icon-144x144.png') }}">
    <!-- apple shitty stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome {{ session.userinfo.name }}!</h1>
    <div class="box-div">
        <h2>Log a trip</h2>
        <h3>Victoria</h3>
        <div class="button-list">
            <a href="/log?mode=victrain"><img src="{{ url_for('static', filename='icons/transportVic/PICTO_MODE_Train.svg') }}" alt="Metro Train" class="inline-svg"><img src="{{ url_for('static', filename='icons/transportVic/PICTO_MODE_RegionalTrain.svg') }}" alt="V/Line Train" class="inline-svg">Train</a>
            <a href="/log?mode=victram"><img src="{{ url_for('static', filename='icons/transportVic/PICTO_MODE_Tram.svg') }}" alt="Tram" class="inline-svg">Tram</a>
            <a href="/log?mode=vicbus"><img src="{{ url_for('static', filename='icons/transportVic/PICTO_MODE_Bus.svg') }}" alt="Bus" class="inline-svg"><img src="{{ url_for('static', filename='icons/transportVic/PICTO_MODE_Coach.svg') }}" alt="Coach" class="inline-svg"><img src="{{ url_for('static', filename='icons/transportVic/PICTO_MODE_SkyBus.svg') }}" alt="SkyBus" class="inline-svg"><img src="{{ url_for('static', filename='icons/transportVic/PICTO_MODE_FlexiRide.svg') }}" alt="FlexiRide" class="inline-svg">Bus</a>
        </div>
        <h3>New South Wales</h3>
        <div class="button-list">
            <a href="/log?mode=nswtrain"><img src="{{ url_for('static', filename='icons/tFnsw/Train_Mode_Colour_Background_400x400.png') }}" alt="Train" class="inline-svg"><img src="{{ url_for('static', filename='icons/tFnsw/Metro_Mode_Colour_Background_400x400.png') }}" alt="Metro" class="inline-svg">Train</a>
            <a href="/log?mode=nswferry"><img src="{{ url_for('static', filename='icons/tFnsw/Ferry_Mode_Colour_Background_400x400.png') }}" alt="Ferry" class="inline-svg">Ferry</a>
            <a href="/log?mode=nswbus"><img src="{{ url_for('static', filename='icons/tFnsw/Bus_Mode_Colour_Background_400x400.png') }}" alt="Bus" class="inline-svg">Bus</a>
            <a href="/log?mode=nswlightrail"><img src="{{ url_for('static', filename='icons/tFnsw/LightRail_Mode_Colour_Background_400x400.png') }}" alt="Light Rail" class="inline-svg">Light Rail</a>
        </div>
        <h3>South Australia</h3>
        <div class="button-list">
            <a href="/log?mode=satrain"><img src="{{ url_for('static', filename='icons/adelaideMetro/Adelaide_train_logo.svg') }}" alt="Train" class="inline-svg">Train</a>
            <a href="/log?mode=sabus"><img src="{{ url_for('static', filename='icons/adelaideMetro/Adelaide_bus_logo.svg') }}" alt="Bus" class="inline-svg">Bus</a>
            <a href="/log?mode=satram"><img src="{{ url_for('static', filename='icons/adelaideMetro/Adelaide_tram_logo.svg') }}" alt="Tram" class="inline-svg">Tram</a>
        </div>
        <h3>Western Australia</h3>
        <div class="button-list">
            <a href="/log?mode=watrain"><img src="{{ url_for('static', filename='icons/WA/train.png') }}" alt="Train" class="inline-svg">Train</a>
            <a href="/log?mode=wabus"><img src="{{ url_for('static', filename='icons/WA/bus.png') }}" alt="Bus" class="inline-svg">Bus</a>
        </div>
        <h3>ACT</h3>
        <div class="button-list">
            <a href="/log?mode=actlightrail"><img src="{{ url_for('static', filename='icons/ACT/Canberra_Metro_icon.svg') }}" alt="Light Rail" class="inline-svg">Light Rail</a>
            <a href="/log?mode=actbus"><img src="{{ url_for('static', filename='icons/ACT/Canberra_Bus_icon.svg') }}" alt="Bus" class="inline-svg">Bus</a>
        </div>
        <h2>Coming soon</h2>
        <h3>Queensland</h3>
        <div class="button-list">
            <a style="cursor: not-allowed;">Train</a>
            <a style="cursor: not-allowed;">Bus</a>
            <a style="cursor: not-allowed;">Ferry</a>
            <a style="cursor: not-allowed;">Tram</a>
        </div>
        <h3>Tasmania</h3>
        <div class="button-list">
            <a style="cursor: not-allowed;">Bus</a>
            <a style="cursor: not-allowed;">Ferry</a>
        </div>
        <h3>Northern Territory</h3>
        <div class="button-list">
            <a style="cursor: not-allowed;">Bus</a>
        </div>
    </div>
</body>
</html>