<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
<footer>
    <div class="box-div" style="margin-left: 0%; margin-right: 0%;">
    <h2>TrackPulse</h2>
    <p>🇦🇺 Made in Australia</p>
    <p class="links"><a href="https://github.com/TrackPulse-Vic" target="_blank"><i class="fa-brands fa-github"></i></i></a>
    <a href='https://discord.gg/nfAqAnceQ5' target="_blank"><i class="fa-brands fa-discord"></i></a>
    <a href='https://victorianrailphotos.com' target="_blank"><i class="fa-solid fa-camera"></i></a>
    <a href='https://stats.uptimerobot.com/6j2LJSPRyj' target="_blank"><i class="fa-solid fa-server"></i></a>
    <a href="/api">API</a>
    |
    <a href="/convert"><i class="fa-solid fa-file-import"></i> Import</a>
    </p>
    </div>
</footer>