<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to TrackPulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'navbar.html' %}
    <header>
        <h1>Welcome to TrackPulse</h1>
    </header>
    <main>
        <p>Your one-stop solution for tracking public transport in Australia.</p>
        <a href="/login">Login</a>
    </main>
</body>
</html>