<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to TrackPulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='icons/logos/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='icons/logos/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='icons/logos/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='icons/logos/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='icons/logos/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='icons/logos/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='icons/logos/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='icons/logos/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/logos/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='icons/logos/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/logos/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='icons/logos/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/logos/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/logos/manifest.json') }}">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='icons/logos/ms-icon-144x144.png') }}">
    <!-- apple shitty stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Open graph medadata -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Trackpulse - Log your public transport journeys">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="TrackPulse is the #1 way to log your trips on public transport in Victoria & Australia. We have a range of features specifically designed for Victorian and Australian transport systems to make logging as easy and fun as possible.">
</head>
<body>
    {% include 'navbar.html' %}
    <header>
        <h1>Welcome to TrackPulse</h1>
    </header>
    <main>
        <div class="box-div" style="margin: 0 auto; text-align: center; max-width: 700px;">
            <h2>TrackPulse is the #1 way to log your trips on public transport in Victoria & Australia</h2>
            <p>We have a range of features specifically designed for Victorian and Australian transport systems to make logging as easy and fun as possible.</p>
            <p>This website is still under development.</p>
            <a href="/login" style="text-decoration: none; color: inherit;">
                <div class="login-button">Login/Sign up</div>
            </a>
            <br>
            <!-- <div class="login-button">Install</div> -->
        </div>
        <br>
        <div class="box-div" style="margin: 0 auto; text-align: center; max-width: 700px;">
            <h2>Log your public transport trips</h2>
            <img src="{{ url_for('static', filename='images/logeg.png')}}" alt="logs as seen in trackpulse" width="300px">
            <h2>View detailed statistics about your travels</h2>
            <img src="{{ url_for('static', filename='images/stats.png')}}" alt="an example of most used lines" width="300px">
        <!-- <a href="/login">Login</a> -->
    </main>
    {% include 'footer.html' %}
</body>
</html>