<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log {{displayName}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>

<body>
    <h1>Log a {{displayName}} trip</h1>
    <div class="box-div">
        <h3 class="success">Your trip was successfully logged!</h3>
    </div>
    <div class="box-div">
        <div class="log-entry">
            <form action="/submit_log" method="post">
                <label for="Line">Line:</label>
                <select id="line" name="line" required>
                    <option value="">Select a line</option>
                    {% for category, lines in lineOptions.items() %}
                        <optgroup label="{{ category }}">
                            {% for line in lines %}
                                <option value="{{ line }}">{{ line }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select><br><br>

                <label for="Number">Number:</label>
                <input type="text" id="number" name="number" required><br><br>
                
                <label for="start">Start:</label>
                <input type="text" id="start" name="start" list="stations" required><br><br>
                <datalist id="stations">
                    <option value="Aircraft">
                    <option value="Alamein">
                    <option value="Albion">
                    <option value="Alphington">
                    <option value="Altona">
                    <option value="Anstey">
                    <option value="Anzac">
                    <option value="Ararat">
                    <option value="Ardeer">
                    <option value="Arden">
                    <option value="Armadale">
                    <option value="Ascot Vale">
                    <option value="Ashburton">
                    <option value="Aspendale">
                    <option value="Auburn">
                    <option value="Avenel">
                    <option value="Bacchus Marsh">
                    <option value="Bairnsdale">
                    <option value="Balaclava">
                    <option value="Ballan">
                    <option value="Ballarat">
                    <option value="Batman">
                    <option value="Baxter">
                    <option value="Bayswater">
                    <option value="Beaconsfield">
                    <option value="Beaufort">
                    <option value="Belgrave">
                    <option value="Bell">
                    <option value="Benalla">
                    <option value="Bendigo">
                    <option value="Bentleigh">
                    <option value="Berwick">
                    <option value="Birregurra">
                    <option value="Bittern">
                    <option value="Blackburn">
                    <option value="Bonbeach">
                    <option value="Boronia">
                    <option value="Box Hill">
                    <option value="Brighton Beach">
                    <option value="Broadford">
                    <option value="Broadmeadows">
                    <option value="Brunswick">
                    <option value="Bunyip">
                    <option value="Burnley">
                    <option value="Burwood">
                    <option value="Camberwell">
                    <option value="Camperdown">
                    <option value="Canterbury">
                    <option value="Cardinia Road">
                    <option value="Carnegie">
                    <option value="Caroline Springs">
                    <option value="Carrum">
                    <option value="Castlemaine">
                    <option value="Caulfield">
                    <option value="Chatham">
                    <option value="Chelsea">
                    <option value="Cheltenham">
                    <option value="Chiltern">
                    <option value="Clarkefield">
                    <option value="Clayton">
                    <option value="Clifton Hill">
                    <option value="Clunes">
                    <option value="Cobblebank">
                    <option value="Coburg">
                    <option value="Colac">
                    <option value="Collingwood">
                    <option value="Coolaroo">
                    <option value="Corio">
                    <option value="Craigieburn">
                    <option value="Cranbourne">
                    <option value="Creswick">
                    <option value="Crib Point">
                    <option value="Croxton">
                    <option value="Croydon">
                    <option value="Dandenong">
                    <option value="Darebin">
                    <option value="Darling">
                    <option value="Deer Park">
                    <option value="Dennis">
                    <option value="Diamond Creek">
                    <option value="Diggers Rest">
                    <option value="Dingee">
                    <option value="Donnybrook">
                    <option value="Drouin">
                    <option value="Eaglemont">
                    <option value="Eaglehawk">
                    <option value="East Camberwell">
                    <option value="East Malvern">
                    <option value="East Pakenham">
                    <option value="East Richmond">
                    <option value="Edithvale">
                    <option value="Elmore">
                    <option value="Elsternwick">
                    <option value="Eltham">
                    <option value="Epping">
                    <option value="Epsom">
                    <option value="Essendon">
                    <option value="Euroa">
                    <option value="Fairfield">
                    <option value="Fawkner">
                    <option value="Ferntree Gully">
                    <option value="Flagstaff">
                    <option value="Flemington Bridge">
                    <option value="Flemington Racecourse">
                    <option value="Flinders Street">
                    <option value="Footscray">
                    <option value="Frankston">
                    <option value="Garfield">
                    <option value="Gardenvale">
                    <option value="Gardiner">
                    <option value="Geelong">
                    <option value="Ginifer">
                    <option value="Gisborne">
                    <option value="Glen Huntly">
                    <option value="Glen Iris">
                    <option value="Glen Waverley">
                    <option value="Glenbervie">
                    <option value="Glenferrie">
                    <option value="Glenroy">
                    <option value="Goornong">
                    <option value="Gowrie">
                    <option value="Greensborough">
                    <option value="Hallam">
                    <option value="Hampton">
                    <option value="Hartwell">
                    <option value="Hastings">
                    <option value="Hawksburn">
                    <option value="Hawkstowe">
                    <option value="Hawthorn">
                    <option value="Heatherdale">
                    <option value="Heathmont">
                    <option value="Heathcote Junction">
                    <option value="Heidelberg">
                    <option value="Heyington">
                    <option value="Highett">
                    <option value="Holmesglen">
                    <option value="Hoppers Crossing">
                    <option value="Hughesdale">
                    <option value="Huntingdale">
                    <option value="Huntly">
                    <option value="Hurstbridge">
                    <option value="Ivanhoe">
                    <option value="Jacana">
                    <option value="Jewell">
                    <option value="Jolimont">
                    <option value="Jordanville">
                    <option value="Kananook">
                    <option value="Kangaroo Flat">
                    <option value="Keilor Plains">
                    <option value="Kensington">
                    <option value="Keon Park">
                    <option value="Kerang">
                    <option value="Kilmore East">
                    <option value="Kooyong">
                    <option value="Kyneton">
                    <option value="Laburnum">
                    <option value="Lalor">
                    <option value="Lara">
                    <option value="Laverton">
                    <option value="Leawarra">
                    <option value="Lilydale">
                    <option value="Little River">
                    <option value="Longwarry">
                    <option value="Lynbrook">
                    <option value="Macaulay">
                    <option value="Macedon">
                    <option value="Macleod">
                    <option value="Malmsbury">
                    <option value="Malvern">
                    <option value="Marshall">
                    <option value="Maryborough">
                    <option value="McKinnon">
                    <option value="Melbourne Central">
                    <option value="Melton">
                    <option value="Mentone">
                    <option value="Merinda Park">
                    <option value="Merlynston">
                    <option value="Mernda">
                    <option value="Merri">
                    <option value="Middle Brighton">
                    <option value="Middle Footscray">
                    <option value="Middle Gorge">
                    <option value="Mitcham">
                    <option value="Moe">
                    <option value="Montmorency">
                    <option value="Moonee Ponds">
                    <option value="Moorabbin">
                    <option value="Mooroolbark">
                    <option value="Mooroopna">
                    <option value="Mordialloc">
                    <option value="Moreland">
                    <option value="Morradoo">
                    <option value="Morwell">
                    <option value="Mount Waverley">
                    <option value="Murchison East">
                    <option value="Murrumbeena">
                    <option value="Nagambie">
                    <option value="Nar Nar Goon">
                    <option value="Narre Warren">
                    <option value="Newmarket">
                    <option value="Newport">
                    <option value="Noble Park">
                    <option value="North Brighton">
                    <option value="North Geelong">
                    <option value="North Melbourne">
                    <option value="North Richmond">
                    <option value="North Shore">
                    <option value="North Williamstown">
                    <option value="Northcote">
                    <option value="Nunawading">
                    <option value="Oak Park">
                    <option value="Oakleigh">
                    <option value="Officer">
                    <option value="Ormond">
                    <option value="Pakenham">
                    <option value="Parkdale">
                    <option value="Parkville">
                    <option value="Parliament">
                    <option value="Pascoe Vale">
                    <option value="Patterson">
                    <option value="Prahran">
                    <option value="Preston">
                    <option value="Pyramid">
                    <option value="Raywood">
                    <option value="Regent">
                    <option value="Reservoir">
                    <option value="Richmond">
                    <option value="Riddells Creek">
                    <option value="Ringwood">
                    <option value="Ringwood East">
                    <option value="Ripponlea">
                    <option value="Riversdale">
                    <option value="Rochester">
                    <option value="Rockbank">
                    <option value="Rosanna">
                    <option value="Rosedale">
                    <option value="Roxburgh Park">
                    <option value="Royal Park">
                    <option value="Rushall">
                    <option value="Ruthven">
                    <option value="Sale">
                    <option value="Sandown Park">
                    <option value="Sandringham">
                    <option value="Seaford">
                    <option value="Seaholme">
                    <option value="Seddon">
                    <option value="Seymour">
                    <option value="Shepparton">
                    <option value="Sherwood Park">
                    <option value="Showgrounds">
                    <option value="Somerville">
                    <option value="South Geelong">
                    <option value="South Kensington">
                    <option value="South Morang">
                    <option value="South Yarra">
                    <option value="Southern Cross">
                    <option value="Southland">
                    <option value="Spotswood">
                    <option value="Springhurst">
                    <option value="Springvale">
                    <option value="St Albans">
                    <option value="State Library">
                    <option value="Stony Point">
                    <option value="Stratford">
                    <option value="Strathmore">
                    <option value="Sunbury">
                    <option value="Sunshine">
                    <option value="Swan Hill">
                    <option value="Syndal">
                    <option value="Talbot">
                    <option value="Tallarook">
                    <option value="Tarneit">
                    <option value="Tecoma">
                    <option value="Terang">
                    <option value="Thomastown">
                    <option value="Thornbury">
                    <option value="Toorak">
                    <option value="Tooronga">
                    <option value="Tottenham">
                    <option value="Town Hall">
                    <option value="Trafalgar">
                    <option value="Traralgon">
                    <option value="Tyabb">
                    <option value="Tynong">
                    <option value="Union">
                    <option value="Upfield">
                    <option value="Upper Ferntree Gully">
                    <option value="Upwey">
                    <option value="Victoria Park">
                    <option value="Violet Town">
                    <option value="Wallan">
                    <option value="Wandong">
                    <option value="Wangaratta">
                    <option value="Warragul">
                    <option value="Warrnambool">
                    <option value="Watergardens">
                    <option value="Watsonia">
                    <option value="Wattle Glen">
                    <option value="Waurn Ponds">
                    <option value="Wendouree">
                    <option value="Werribee">
                    <option value="West Footscray">
                    <option value="West Richmond">
                    <option value="Westall">
                    <option value="Westgarth">
                    <option value="Westona">
                    <option value="Williams Landing">
                    <option value="Williamstown">
                    <option value="Williamstown Beach">
                    <option value="Willison">
                    <option value="Winchelsea">
                    <option value="Windsor">
                    <option value="Wodonga">
                    <option value="Woodend">
                    <option value="Wyndham Vale">
                    <option value="Yarragon">
                    <option value="Yarraman">
                    <option value="Yarraville">
                </datalist>
                
                <label for="end">End:</label>
                <input type="text" id="end" name="end" list="stations" required><br><br>
                
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" rows="1" cols="1"></textarea><br><br>

                <div class="overrides">
                    <p>These options will be automatically filled based on your selections</p>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" ><br><br>

                    <label for="type">Type:</label>
                    <input id="type" name="type" list="types"><br><br>
                    <datalist id="types">
                        <option value="EDI Comeng">
                        <option value="Alstom Comeng">
                        <option value="Siemens Nexas">
                        <option value="X'Trapolis 100">
                        <option value="VLocity">
                        <option value="N class">
                        <option value="Sprinter">
                        <option value="K Class">
                        <option value="Tait">
                        <option value="Harris">
                        <option value="Hitachi">
                        <option value="R Class">
                        <option value="A class">
                        <option value="B class">
                        <option value="S Class">
                        <option value="Walker railmotor">
                        <option value="Y Class">
                    </datalist>
                </div>
                
                <input type="submit" value="Log Trip">
            </form>
        </div>
    </div>
    
</body>
