<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log {{displayName}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='icons/logos/favicon-96x96.png') }}">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>

<body>
    {% include 'navbar.html' %}
    <h1>Log a {{displayName}} trip</h1>
    {% if message %}
    <div class="box-div">
        <h3 class="success">{{ message }}</h3>
    </div>
    {% endif %}
    <div class="box-div">
        <div class="log-entry">
            <form action="/log/submit" method="post">
                <input type="hidden" id="mode" name="mode" value="{{mode}}">
                <label for="Line">Line:</label>
                {% if lineOptions|length > 0 %}
                    <select id="line" name="line" required>
                        <option value="">Select a line</option>
                        {% for category, lines in lineOptions.items() %}
                            <optgroup label="{{ category }}">
                                {% for line in lines %}
                                    <option value="{{ line }}">{{ line }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                        <option value="Other">Other</option>
                    </select><br><br>
                {% else %}
                    <input type="text" id="line" name="line" required><br><br>
                {% endif %}

                <label for="Number">Carriage/Locmotive Number:</label>
                <input type="text" id="number" name="number" required><br><br>

                {% if mode not in automodes %}
                <label for="type">Type:</label>
                <input id="type" name="type" list="types" placeholder="Unknown"><br><br>
                
                <label for="operator">Operator:</label>
                <input type="text" id="operator" name="operator"><br><br>
                {% endif %}
                
                <label for="start">Start:</label>
                <input type="text" id="start" name="start" list="stations" required><br><br>
                <datalist id="stations">
                    {% for station in stations %}
                        <option value="{{ station.strip() }}">
                    {% endfor %}
                </datalist>
                
                <label for="end">End:</label>
                <input type="text" id="end" name="end" list="stations" required><br><br>
                
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" rows="1" cols="1"></textarea><br><br>

                <div class="overrides">
                    <p>These options will be automatically filled based on your selections but you can override them if needed:</p>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" ><br><br>

                    {% if mode in automodes %}
                    <label for="type">Type:</label>
                    <input id="type" name="type" list="types"><br><br>
                    <datalist id="types">
                        <option value="EDI Comeng">
                        <option value="Alstom Comeng">
                        <option value="Siemens Nexas">
                        <option value="X'Trapolis 100">
                        <option value="VLocity">
                        <option value="N class">
                        <option value="Sprinter">
                        <option value="K Class">
                        <option value="Tait">
                        <option value="Harris">
                        <option value="Hitachi">
                        <option value="R Class">
                        <option value="A class">
                        <option value="B class">
                        <option value="S Class">
                        <option value="Walker railmotor">
                        <option value="Y Class">
                    </datalist>

                    <label for="operator">Operator:</label>
                    <input type="text" id="operator" name="operator"><br><br>
                    {% endif %}
                </div>
                
                <input type="submit" value="Log Trip">
            </form>
        </div>
    </div>
    
</body>
