<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
<nav class="navbar">
  <ul>
    <li><img src='{{url_for("static", filename="icons/logos/android-icon-144x144.png")}}' class="logo", alt="Logo"></li>
      <li><a href="{{ url_for('mainPage') }}?src=nav">Home</a></li>
      <li><a href="{{ url_for('dashboardPage') }}">Dashboard</a></li>
      <li><a href="{{ url_for('viewLogPage') }}">View Logs</a></li>
      <li><a href="{{ url_for('convertPage') }}">Convert from Discord bot</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>
</nav>
