<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{vehicle}} - TrackPulse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/viewer.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/logos/favicon.ico') }}">
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="box-div">
            <h1>{{ vehicle }}</h1>
            {% if photoURL %}
                <div style="text-align: center;">
                    <img src="{{ photoURL }}" alt="Photo of vehicle {{ vehicle }}" style="max-width: 100%;">
                    {% if photographer %}
                        <p style="font-size: 0.9em; color: var(--text-secondary-color);">Photo by {{ photographer }}</p>
                    {% endif %}
                </div>
            {% else %}
                <p>No photo available for this vehicle.</p>
            {% endif %}
        </div>
    </body>
</html>